html{
	margin: 0px;
    padding: 0px;
    background: black;
}

body {
	margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}

.menu{
	display: flex;
	position: relative;
	margin: 0px;
    padding: 0px;
	align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #2c3e50;
}

header{
	width: 100%;
	height: 100%;
	overflow: : hidden;
}
video{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	opacity:0.30;
	-moz-opacity: 0.30;
	filter: alpha(opacity=30);

}

.conteudo{
	display: flex;
	position: relative;
	margin: 250px;
    padding: 0px;
	justify-content: center;
	align-items: center;
}

.conteudo b{
	font-size: 80px;
	color: white;
}

nav{
	display: flex;
	vertical-align: left;
}

nav li{
	margin: 10px 10px 10px 10px;
	display: inline-block;
	padding: 10px;
	font-size: 20px;	
}
nav li:hover{
	border-radius: 10px;
	transition-duration: 0.5s;
}
nav a:hover{
	font-weight: 1000;
}

.login{
	display: flex;
	position: relative;
	margin: -215px 685px 20px 700px;
	padding: 10px;
	font-size: 20px;
	color: white;
	justify-content: right;
	align-items: center;
	background: #2c3e50;
}

ul.log {
     list-style-type:none;
     display: inline-center;
 }

 a:link 
{ 
text-decoration:none; 
} 

.sobre{
	display: flex;
	position: relative;
	margin: 200px;
    padding: 0px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #2c3e50;
}

.evento{
	display: flex;
	position: relative;
	margin: 50px 200px 50px 200px;
    padding: 0px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #2c3e50;
}

.perfil{
	display: flex;
	position: relative;
	margin: 50px 300px 100px 300px;
    padding: 0px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #2c3e50;
}